@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

:root {
  --mainColor: #0a0a23;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

.App {
  background-color: var(--mainColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.imgContainer img{
  width: 100%;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
}

.btnContainer button {
  border: 2px solid white;
  border-radius: 15px;
  padding: 1rem;
  margin: 1rem;
  font-size: 50px;
  width: 100%
}

.btnContainer .clickBtn {
  background-color: blueviolet;
}

.btnContainer .resetBtn {
  background-color: pink;
}

.btnContainer button:hover {
  background-color: greenyellow;
}

.counter {
  min-width: 300px;
  font-size: 160px;
  color: white;
  text-align: center;
  border: 2px solid white;
}